:root {
    --white-color: #fff;
    --black-color: #000;
    --blue_text-color: #10519e;
    --background-color-1: #f8f9fa;
    --page_bg-color: #fafafa;
    --border-color: #b7b6b6;
    --background_linear-color: linear-gradient(45deg, #5781b3, #d77575);
    --table_bg-color: #f1f1f1;
    --grey-color: grey;
    --green-color: green;
    --modal_bg-color: #91919163;
}