$white: var(--white-color);
$black: var(--black-color);
$page_bg: var(--page_bg-color);
$background_color_1: var(--background-color-1);
$blue_text: var(--blue_text-color);
$border_color: var(--border-color);
$background_linear: var(--background_linear-color);
$table_bg: var(--table_bg-color);
$grey: var(--grey-color);
$green: var(--green-color);
$modal_bg: var(--modal_bg-color);